<div class="flex h-screen">
  <!-- PDF Viewer Container (70-75% width) -->
  <div class="w-3/4 p-4 bg-gray-100">
    <!-- Only display the PDF viewer when a file is uploaded -->
    <div *ngIf="pdfSrc" class="pdf-container">
      <ngx-extended-pdf-viewer
        [src]="pdfSrc"
        useBrowserLocale="true"
        [showToolbar]="true"
        [showPresentationModeButton]="false"
        [showBookModeButton]="false"
        [showDownloadButton]="false"
        [showPrintButton]="false"
        [showRotateButton]="false"
        [showOpenFileButton]="false"
        [showHighlightEditor]="false"
        [showDrawEditor]="false"
        [showSecondaryToolbarButton]="false"
        [showPageNumber]="false"
        [showFirstAndLastPageButtons]="false"
        [showPreviousAndNextPageButtons]="false"
        [showPageLabel]="false"
        (annotationEditorEvent)="annotationEditorEvent('editor', $event)"
        (annotationLayerRendered)="annotationLayerRendered('layer rendered', $event)"
        (pdfLoaded)="pdfLoaded('pdf loaded event', $event)"
        class="h-full w-full"
      ></ngx-extended-pdf-viewer>
    </div>
  </div>

  <!-- File Upload Side Panel (25-30% width) -->
  <div class="w-1/4 bg-white p-4 border-l border-gray-200">
    <div class="file-upload">
      <div class="mb-4">
        <label for="file-input" class="block font-semibold text-gray-700">Upload PDF:</label>
        <input type="file" id="file-input" (change)="onFileSelected($event)" accept="application/pdf" class="mt-2 block w-full border border-gray-300 p-2 rounded" />
      </div>

      <div>
        <a href="https://grpl2018outlook-my.sharepoint.com/:f:/g/personal/shosking_globalrescue_com/EsJ-QGjwmzFBmynIuokIFLQB8nFFfnHfRVLZIOw0VgUC6w?e=2zTAUU" class="text-sm text-blue-500 hover:underline" title="Click here to access all PDFs" target="_blank">All PDFs</a>
      </div>

      <!-- <div class="mb-4">
        <a href="assets/images/template_square.png" download="template_box.png" class="text-sm text-blue-500 hover:underline" title="Click here to download the box in which logo will be placed">Download Bounding Box PNG For Logo</a>
      </div> -->

      <div>
        <label for="rpCode">RP Code</label>
        <input [(ngModel)]="rpCode" style="border: 1px solid" type="text" id="rpCode"/>
      </div>

      <div class="w-4/4 bg-white p-4 border-l border-gray-200">
        <button (click)="addImage()" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
          Add Logo
        </button>
      </div>

      <div class="mb-4" style="display: flex; justify-content: space-between;">
        <!-- <div>
          <p class="font-semibold">Logo shape:</p>
          <div>
            <input type="radio" id="square" name="shape" [(ngModel)]="selectedShape" (ngModelChange)="onShapeChange($event)" value="square" />
            <label for="square" class="ml-2">Square</label>
          </div>
          <div>
            <input type="radio" id="circle" name="shape" [(ngModel)]="selectedShape" (ngModelChange)="onShapeChange($event)" value="circle" />
            <label for="circle" class="ml-2">Circle</label>
          </div>
          <div>
            <input type="radio" id="rectangle" name="shape" [(ngModel)]="selectedShape" (ngModelChange)="onShapeChange($event)" value="rectangle" />
            <label for="rectangle" class="ml-2">Rectangle</label>
          </div>
        </div> -->
        <div>
          <p class="font-semibold">Text Alignment:</p>
          <div>
            <input type="radio" id="left" name="textAlign" [(ngModel)]="this.alignment" (ngModelChange)="onTextAlignChange($event)" value="left" />
            <label for="left" class="ml-2">Left</label>
          </div>
          <div>
            <input type="radio" id="center" name="textAlign" [(ngModel)]="this.alignment" (ngModelChange)="onTextAlignChange($event)" value="center" />
            <label for="center" class="ml-2">Center</label>
          </div>
          <div>
            <input type="radio" id="right" name="textAlign" [(ngModel)]="this.alignment" (ngModelChange)="onTextAlignChange($event)" value="right" />
            <label for="right" class="ml-2">Right</label>
          </div>
        </div>
      </div>

      <div style="max-height: 370px; overflow: auto;" class="mb-4">
        <div *ngFor="let annotation of this.annotations" style="border: 1px solid;padding: 0 10px;" class="mb-4">
          <div class="mb-4 mt-2">
            <label for="font-size" class="block font-semibold text-gray-700">Font Size:</label>
            <input type="text" id="font-size" [(ngModel)]="annotation.fontsize" [disabled]="true" class="mt-2 block w-full border-none bg-white text-gray-700" />
          </div>

          <div class="mb-4">
            <label for="font-color" class="block font-semibold text-gray-700">Font color:</label>
            <input type="text" id="font-color" [(ngModel)]="annotation.fontColor" [disabled]="true" class="mt-2 block w-full border-none bg-white text-gray-700" />
          </div>

          <div class="mb-4">
            <label for="font-color" class="block font-semibold text-gray-700">Type: </label>
            <input type="text" id="font-color" [(ngModel)]="annotation.type" [disabled]="true" class="mt-2 block w-full border-none bg-white text-gray-700" />
          </div>

          <div class="mb-4">
            <p>x: {{ annotation.x }} y: {{ annotation.y }}<br>id: {{ annotation.id }}</p>
          </div>
        </div>
      </div>

      <button (click)="this.getLogoFromRpCode()" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
        Download Modified PDF
      </button>
    </div>
  </div>
</div>
