/* .file-upload {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdf-container {
  width: 100%;
  height: 100vh;
  margin-top: 10px;
  position: relative;
} */
.pdf-container {
  position: relative;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;  /* Allows interaction with the PDF */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr)); /* Adjust number of columns */
  grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));    /* Adjust number of rows */
}

.grid-row {
  display: flex;
}

.grid-cell {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  border: 1px solid;  /* Make the grid visible with a light border */
  /* height: 100%; */
}

.selected-annotation {
  border: 5px solid red !important;
}

@media (min-height: 970px) {
  #dynamicDiv {
    max-height: 48vh;
  }
}

@media (max-height: 969px) {
  #dynamicDiv {
    max-height: 167px;
  }
}

